* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(CaFE!N\(bg\)3\ \(1\).png);
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar{
  display: flex;
  background-color: rgba(0, 0, 0, 0.575);
  color: #fdfcfb;
  justify-content: start;
  padding: 15px;
  box-shadow: 0 3px 3px rgba(163, 156, 156, 0.1);
  padding-bottom: 0;
  gap: 100px;
  padding-left: 200px;
  font-weight: 200;
}

.navigation{
  position: relative;
  top:0.7rem;
  font-family: fantasy;
  font-size: x-large ;
  color: #ddd;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 30px; */
  margin-bottom: 30px;
}

.heading {
  padding: 30px;
  color: rgb(255, 255, 255);
}

.form-div {
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3),  
                4px 0px 15px rgba(255, 255, 255, 0.3),   
                0px -4px 15px rgba(255, 255, 255, 0.3),  
                -4px 0px 15px rgba(255, 255, 255, 0.3); 
  /* background-color: rgba(121, 106, 42, 0.829); */
  width: 25vw;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 60px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.651);
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

input, select, textarea {
  border: 1px solid #ccc; /* Add border to match the style */
  border-radius: 5px;
  padding: 10px;
  width: 100%;  /* Make the input boxes cover the full width of the form-div */
  margin-bottom: 10px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}


textarea {
  resize: none;
}

.form-group {
  padding: 10px;
  color: rgb(255, 255, 255);
}

#place-order {
  color: rgb(255, 254, 254);
  background-color: #12d80b;
  font-family: 'Archivo Black';
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 50;
}

#place-order:hover {
  background-color: #218838;
}
.footer-para {
  font-size: large;
  color: #fdfcfb;
  padding-right: 8px;
  height: 25px;
}

.footer-bottom {
  /* top: 15rem; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.575);
  gap: 8px;
  height: 50px;
}
.open-hrs {
  font-size: large;
  color: #12d80b;
  padding-right: 8px;
  height: 25px;
}

.timing {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.644);
    gap: 8px;
    height: 10px;
    padding-bottom: 20px;
}

label{
  font-family: 'Archivo Black';
  font-size: 15px;
}
